/* General Styling */
.FormHead {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 22px;
  }
  
  /* Input Fields */
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  /* React-Select Styling */
  .react-select__control {
    width: 100%;
    min-height: 45px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: none;
    transition: border-color 0.3s;
    z-index: 1;
  }
  
  .react-select__control--is-focused {
    border-color: #007bff;
    z-index: 1;
  }
  
  .react-select__menu {
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .react-select__option--is-disabled {
    color: #aaa;
    cursor: not-allowed;
  }
  
  /* DatePicker Styling */
  .datepicker-wrapper {
    background-color: none;
  }
  
  label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    display: block;
  }
  
  .containerP {
    margin-bottom: 15px;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker-wrapper input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .react-datepicker-wrapper input:focus {
    border-color: #007bff;
    outline: none;
  }
  
  /* Button Styling */
  button {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  button:hover:enabled {
    background-color: #218838;
  }
  
  /* Error Message */
  .error-message {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
  }
  
  /* Responsive Design */
  @media (max-width: 480px) {
    form {
      padding: 15px;
    }
  
    button {
      font-size: 14px;
    }
  }
  