#map { height: 180px; }
.leaflet-container {
    height: 85vh; /* Set the height */
    width: 100%; /* Set the width */
}
.homebutton{
    color: black;
    background-color: white;
    border: 1px solid #40ae35;
    font-size: 16px;
}
.homebutton:hover{
    color: white;
    transition: transform 0.5s ease;
    
}